[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/synthetic-methods/min-api.git
	branch = c++20
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
